div#dashboard{
  width: 100%;
  max-width: 930px;
  margin: 20px auto;
  padding: 0 30px;
}

div#dashboard .user-info{
  display: flex;
  height: 30px;
  align-items: center;
}

div#dashboard .user-info a{
  margin-left: 10px;
  padding: 8px;
  border-radius: 4px;
  font-size: 20px;
  background-color: #FF0000;
  color: #FFF;
  text-decoration: none;
}